body {
    background-image: url();
    background-color: #B51E23;
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;

}
.white {
    color: white;
}
.black {
    background-color: black;
}
.jar {
    height: 700px;
}
.imgchange {
    size: 100%;
    height: auto;
    width: 100%;
}

.bgText{
    background-color: black;
}